@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;


}


:root{
    
--Strongcyan: hsl(172, 67%, 45%);
--Verydarkcyan: hsl(183, 100%, 15%);
--Darkgrayishcyan: hsl(186, 14%, 43%);
--Grayishcyan: hsl(184, 14%, 56%);
--Lightgrayishcyan: hsl(185, 41%, 84%);
--Verylightgrayishcyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}


body{
    font-family: 'Space Mono', monospace;
    background-color: var(--Lightgrayishcyan);
}

.top-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 10px;
    color: var(--Verydarkcyan);
}
.botton-content{
    height: 765px;
    background-color: var(--White);
    border-radius: 24px 24px 0 0;
    
    
}
.leftSideDesktop, .rightSideDesktop{
    margin: 0px 25px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leftSideDesktop{
        height: 400px;
}

.content{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

}
.title{
    display: flex;
    flex-direction: column;  
}
.title p{
    margin-bottom: 4px;
    color: var(--Darkgrayishcyan);
    font-weight: 700;
}
.dolar-icon img{
    height: 14px;
    width: 11px;
    position: relative;
    top: 40px;
    left: 15px;
}
.person-icon img{
    height: 14px;
    width: 11px;
    position: relative;
    top: 38px;
    left: 15px;
}
#input-bill{
    padding: 8px 76px;
}
.input-form{
    padding: 6px;
    background-color: var(--Verylightgrayishcyan);
    border: none;
    border-radius: 6px;
    text-align: end;
    width: 96%;
    color: var(--Verydarkcyan);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    
}
::placeholder{
    color: var(--Verydarkcyan);
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 14px;
}

.amout{
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--Verydarkcyan);
    font-family: 'Space Mono', monospace;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--Verylightgrayishcyan);
}
#custom-tip{
    text-align: center;
    background-color: var(--Verylightgrayishcyan);
    color: var(--Verydarkcyan);
}
#custom-tip::placeholder{
    color: var(--Darkgrayishcyan);
}
.result{
    display: flex;
    flex-direction: column;
    
    background-color: var(--Verydarkcyan);
    border-radius: 12px;
}
.top-result-content{
    margin: 22px;
}
.result-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

}
.result-left-content h2{
    color: var(--Verylightgrayishcyan);
    font-size: 1em;
}
.result-left-content h3{
    color: var(--Grayishcyan);
    font-size: 0.8em;
}
.result-right-content{
    font-size: 2em;
    font-weight: 700;
    color: var(--Strongcyan);
}
.botton-result-content{
    margin: 0 15px 15px 15px;

}
.botton-result-content button{
    border: none;
    background-color: var(--Strongcyan);
    font-size: 1.5em;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: var(--Verydarkcyan);
    width: 100%;
    padding-top: 5px;
    border-radius: 4px;
}

.button-reset{
    cursor: pointer;
}
.button-reset:hover{
    background-color: var(--Lightgrayishcyan);
    color:var(--Verydarkcyan);
}
.button-reset:active{
    color:var(--Verydarkcyan);
    background-color: var(--Darkgrayishcyan);
}
.activo {
    background-color: var(--Strongcyan);
    color: var(--Verydarkcyan);
    
}
@media (min-width:1400px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85vh;
        justify-content: center;
    }
    
    .botton-content{
        display: flex;
    width: 800px;
    height: 425px;
    border-radius: 24px;
    align-items: center;
    }
    .leftSideDesktop{
        flex-direction: column;
        justify-content: space-around;
        
    }
    .rightSideDesktop{
        flex-direction: column;
    }
    .result{
        height: 373px;
        width: 341px;
        justify-content: space-between;
    }
    .buttons{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .amout{
        width: 110px;
    }
    .botton-result-content {
        margin: 0 25px 30px 25px;
    }
    .top-result-content {
        margin: 40px 25px;
    }
    
    .title p {
        margin-bottom: 0;
    }
    .form{
        margin-top: -20px;
    }
}